@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
	font-family: 'Roboto', sans-serif;
}


.block2 {
    display: flex;
    align-items: center;
    justify-content: center;
	backgroundcolor:white;

}
.block {
	height: fit-content;
    width: 100%;
	border: 0px solid;
    padding: 10px;
    box-shadow: 5px 10px 50px rgb(0 0 0 / 20%);
    border-radius: 5px;
}

i.fa.fa-plus-circle{
	color: rgb(68, 68, 68);
	
}
i.fa.fa-pencil{
	color: rgb(68, 68, 68);
}
#btnIcon{
	color: white;
	font-size: 20px;
	padding-right: 5px;
}
input#editID{
	background: rgba(0,0,0,0.2);
}
