<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
            <h1>
                Show order
            </h1>
            <div>
                <table>
                    <tr th:each="order1 : ${listorders}">
                        <td th:text="${order1.id}"></td>
                        <td th:text="${order1.itemName}"></td>
                        <td th:text="${order1.type}"></td>
                        <td th:text="${order1.artistName}"></td>
                        <td th:text="${order1.price}"></td>
                    </tr>
                </table>
            </div>
    </div>
</body>
</html>