<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>All Order</title>
	<link rel="stylesheet" href=".//css/alllist.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
	<div align="center"">
		<h1>
			Show order
		</h1>
		<div>
			<table class="mytable">
				<tr>
					<th>ID</th>
					<th>Album</th>
					<th>Artist</th>
					<th>Type</th>
					<th>Price</th>
					<th>Amount</th>
					<th></th>
				</tr>
			</table>
			<!-- <table>
				<tr th:each="order1 : ${listorders}">
					<td th:text="${order1.id}"></td>
					<td th:text="${order1.itemName}"></td>
					<td th:text="${order1.type}"></td>
					<td th:text="${order1.artistName}"></td>
					<td th:text="${order1.price}"></td>
					<td th:text="${order1.qty}"></td>
					<td class="menu"><a href="https://www.facebook.com" target="/_blank"><i class="icon fa fa-trash"aria-hidden="true"></i></a>
						<a href="https://www.facebook.com" target="/_blank"><i class="icon fa fa-pencil"aria-hidden="true"></i></a>
					</td>
				</tr>
			</table> -->
		</div>
</div>
