<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>All Order</title>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

	<link
			rel="stylesheet"
			href="../static/css/alllist.css"
			th:href="@{/css/alllist.css}"
	/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
			crossorigin="anonymous"
	/>
    
</head>
<body class="bg">
	<div th:replace="/nav :: kuy"></div>
	<div align="center">
		<h1 style="margin-top: 1.5em;">
			Show order
		</h1>
		<div>
			<table class="mytable">
				<tr >
					<th>ID</th>
					<th>Album</th>
					<th>Type</th>
					<th>Artist</th>
					<th>Price</th>
					<th>Amount</th>
					<th></th>
				</tr>
				<tr th:each="order1 : ${listorders}">
					<td th:text="${order1.id}"></td>
					<td th:text="${order1.itemName}"></td>
					<td th:text="${order1.type}"></td>
					<td th:text="${order1.artistName}"></td>
					<td th:text="${order1.price}"></td>
					<td th:text="${order1.amount}"></td>
					<td class="menu">
						<a th:href="@{'/delete/' + ${order1.id}}" role="button"><i class="icon fa fa-trash"aria-hidden="true"></i></a>
						<a th:href="@{'/edit/' + ${order1.id}}" role="button"><i class="icon fa fa-pencil"aria-hidden="true"></i></a>
					</td>
				</tr>
			</table>
		</div>

</div>
<script>
	$(function(){
	  $("#nav-placeholder").load("nav.html");
	});
</script>
</body>
