<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link
			rel="stylesheet"
			href="../static/css/index.css"
			th:href="@{/css/index.css}"
	/>
	<link rel="stylesheet" href="../static/css/index.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<title>Index</title>
</head>
<body class="bg">
	<div th:replace="/nav :: navbar"></div>
	<div class="poster"></div>
	<div class="bg-text">
		<h1>JES Record</h1>
		<p>Music Merchandise Stock Management</p>
	  </div>
	  <div class="bg-btn">
		<a href="">
			<img id="add" th:src="@{/css/sign-add-icon.png}" alt="" >
			<p id="addText">Add Stock</p>
		</a>
		<a href="">
			<img id="list" th:src="@{/css/306470.png}" alt="">
			<p id="showText">Show Stock</p>
		</a>
		<a href="">

			<img id="profit" th:src="@{/css/306445.png}" alt="">
			<p id="profText">Profit</p>
		</a>
		
		
	  </div>
</body>
</html>
