<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link
			rel="stylesheet"
			href="../static/css/info.css"
			th:href="@{/css/info.css}"
	/>
	<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous"
  />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body class="bg">
	<div class="mt-5 container">
		<div class="row">
			<div class="col">
				<div class="card" style="height: 700px;">
					<div class="card-header text-center bg-primary text-white fw-bold">
					  Monthly Income
					</div>
					<div class="card-body">
					  <h5 class="card-title text-start fw-bold">สรุปรายรับในเดือน</h5>
					  <p class="card-text text-start">
							<ul>
								<li>กูรวย</li>
							</ul>

					  </p>
					  
					</div>
					<div class="card-footer text-muted">
					  JES Record
					</div>
				  </div>
			</div>
			<div class="col">
				<div class="card" style="height: 700px;">
					<div class="card-header text-center bg-warning text-white fw-bold">
					  Annual Income
					</div>
					<div class="card-body">
					  <h5 class="card-title text-start fw-bold">สรุปรายรับในปี</h5>
					  <p class="card-text text-start"></p>
					  
					</div>
					<div class="card-footer text-muted">
					  JES Record
					</div>
				  </div>
			</div>
		</div>
		

		  
	</div>
	
</body>
</html>
